body {
    background-color: white;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

img {
    display: block;
    width: 370px;
}

.section {
    width: 830px;
}

.sidebar {
	width: 370px;
	height: 1250px;
}